.card {text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color:rgb(216, 111, 167);
      

    }
    .inputPassword { width: auto;}


h2 {text-align: center;}
    

body {text-align: center;}

.divdelcard {text-align: center;}

.container {text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;}
    
body{ background-color: rgb(186, 130, 238);}

.elmundo{ background-color: hotpink;
           border-radius:  15px; 
           width: 20rem; 
           height: auto;
           display: grid;
           align-items: center;
           justify-content: center;
           text-align: center;
           margin: 0rem 32rem ;
        }
        

